<div class="row pageDescriptor">
    <span> Funds where you can get funding</span>
</div>
<div class="container">
    <div class="row justify-content-center userDetails">
        <ng-container *ngIf="!connectedToMetaMask">
            <div class="row justify-content-center itemCenter">
                <div class="col-lg-6 ">
                    <img src="../../assets/metamaskLogo.png" />
                </div>
            </div>
            <div class="row justify-content-center notConnected">
                <div class="col-lg-6 itemCenter">
                    <span > To see the available funding you have to
                        <span class="msg" (click)="metamaskConnect()" >Connect Metamask</span>
                    </span>
                </div>
                
            </div>
        </ng-container>
        <ng-container *ngIf="connectedToMetaMask">
            <ng-container *ngFor="let fund of userFunds">
                <div class="col-lg-3 fundDets">
                    <div class="title">
                        <span>{{fund.name}}</span>
                    </div>
                    <div class="desc">
                        <span> {{fund.description}} </span>
                    </div>
                    <div class="imgContainer">
                        <ng-container> 
                            <img class="img" src="../../assets/fundImg.png">
                            <!-- <img class="img" src="../../assets/fundImg.png"> -->
                            <!-- <img class="img" src="../../assets/fundImg.png"> -->
                        </ng-container>
                    </div>
                    <div class="investDetail">
                        <span class="desc"> Investment amount</span>
                        <br/>
                        <span class="amnt"> {{fund.maxDistributableAmountPerTeam}} <span> ETH </span></span>
        
                    </div>
                    <div class="currentInvest">
                        <span class="desc"> Current deposits</span>
                        <div class="row">
                            <div class="col-lg-6">
                                <span class="amnt">  {{ getDifference(fund.totalAmountDeposited, fund.totalAmountDisbursed)}}  <span> ETH </span></span>
                            </div>
                            <div class="col-lg-6 maxAmnt">
                                <span>  {{fund.totalAmountDeposited}}  ETH - Max</span>
                            </div>
                        </div>
                    </div>
                    <div class="creator">
                        <span class="desc"> Created by </span>
                        <br/>
                        <div class="row">
                            <div class="col-lg-6">
                                <img class="usrImg" src="../../assets/fundImg.png" />
                                <span class="by"> {{fund.createdBy}} </span>
                            </div>
                            <div class="col-lg-6">
                               <button class="btn btn-primary getFundBtn" (click)="getFunding()"> Get Funding </button>
                            </div>
                        </div>
                    </div>
        
                </div>
            </ng-container>
           
        </ng-container>
    </div>
</div>
<div class="container otherFund">
    <div class="row pageDescriptor">
        <span> Other Funds</span>
    </div>
    <div class="row align-start-start">

        <ng-container *ngIf="otherFunds.length == 0">
            <div class="row justify-content-center">
                <div class="col-lg-6 itemCenter">
                    <span> No other Funds Available.</span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="otherFunds.length > 0">
            <ng-container *ngFor="let fund of otherFunds" >
                <div class="col-lg-3 fundDets">
                    <div class="title">
                        <span>{{fund.name}}</span>
                    </div>
                    <div class="desc">
                        <span> {{fund.description}} </span>
                    </div>
                    <div class="imgContainer">
                        <!-- <ng-container> 
                            <img class="img" src="../../assets/fundImg.png">
                            <img class="img" src="../../assets/fundImg.png">
                            <img class="img" src="../../assets/fundImg.png">
                        </ng-container> -->
                    </div>
                    <div class="investDetail">
                        <span class="desc"> Investment amount</span>
                        <br/>
                        <span class="amnt"> {{fund.maxDistributableAmountPerTeam}} <span> ETH </span></span>
        
                    </div>
                    <div class="currentInvest">
                        <span class="desc"> Current deposits</span>
                        <div class="row">
                            <div class="col-lg-6">
                                <span class="amnt"> {{ getDifference(fund.totalAmountDeposited, fund.totalAmountDisbursed)}} <span> ETH </span></span>
                            </div>
                            <div class="col-lg-6 maxAmnt">
                                <span> {{fund.totalAmountDeposited}} ETH - Max</span>
                            </div>
                        </div>
                    </div>
                    <div class="creator">
                        <span class="desc"> Created by </span>
                        <br/>
                        <div>
                            <img class="usrImg" src="../../assets/fundImg.png" />
                            <span class="by"> {{fund.createdBy}} </span>
                        </div>
                    </div>
        
                </div>
            </ng-container>
        </ng-container>

    </div>
</div>
