<!-- Header -->
<div class=" header">
  <div class="row">
    <div class="col-lg-1">
      <img src="" />
    </div>
    <div class="col-lg-9 title">
      <span>Zapier-Syndicate</span>
    </div>
    <div class="col-lg-2 metaBtn">
      <ng-container *ngIf="connectedToMetaMask">
        <button type="button" class="btn btn-primary" (click)="metamaskConnect()">
          Connect to MetaMask</button>
      </ng-container>
      <ng-container *ngIf="!connectedToMetaMask">
        <button type="button" class="btn btn-primary">
          Connected</button>
        <span class="usrIdent"> 0.674 ETH  <span> gbd.eth</span> </span>
      </ng-container>
    </div>
  </div>
</div>


<div class="wrapper" role="main">
  <div class="sidebar">

  </div>
 <div class="mainBody">
   <span>Router is here with two tabs</span>
   <router-outlet></router-outlet>
 </div>

</div>
